.attribution {
    margin: 45px 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(128,128,128,0.25);
    border-radius: 10px;

    .attribution-content {
        display: flex;
        flex-direction: column;
        margin: 2px 25px;
        .attribution-link {
            color: black;
            font-size: small;
            text-decoration: none;
        }
    }
}